@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ShopFashion </h1>


    <font><marquee direction="left" style="background:yellow"> Address: 9F, Toona Building, 223, Buil-ro, New York, Washinton, Rep. of USA, Telephone: 02272225599  </marquee></font>
</div>

<img src="https://cf.shopee.vn/file/a38edd2909808fa1f3759aaeae7273b0" alt="Lịch sử giá Áo dài trắng học sinh lụa nhật cập nhật 2/2022 - BeeCost" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 525px; height: 525px; margin: 0px;">

<img src="https://toplist.vn/images/800px/vay-yem-len-dai-tay-slipon-hoac-boot-330886.jpg" alt="Top 15 Cách mix đồ nữ đẹp nhất cho mùa đông - Toplist.vn" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 525px; height: 525px; margin: 0px;">


<b></b><b></b>
<p>Customer Service:    9F, Toona Building, 223, Buil-ro, New York, Washinton, Rep. of USA | Customer Inquiry :<p><button type="button" class="btn btn-primary"> Click here  </button> </p>

<p>Dispute Settlement:  Tel +82-2-7222-5599 (only in USA) | Fax +82-1-216-2601 (only in VietNam) | Mail : T&H@market.com</p>
<p><button type="button" class="btn btn-primary"> Link của shopp https://shopee.vn/Th%E1%BB%9Di-Trang-N%E1%BB%AF-cat.11035639  </button> </p>