@{
    ViewData["Title"] = "Spring clothes";
}
<h1>@ViewData["Title"]</h1>
<b></b>
<p>Thay đổi phong cách thời trang cho mùa hè cũng với những bộ áo đầy hấp dẫn. Shop cảm ơn các bạn đã ủng hộ.</p>



<b></b>
<p>     35 mẫu áo váy, quần thời trang mùa hè đẹp chuẩn trend giúp nàng chống nóng </p>
<img src="https://bloganchoi.com/wp-content/uploads/2020/05/thoi-trang-he-2020-dep.jpg" alt="35 mẫu váy áo, thời trang hè 2020 đẹp chuẩn trend giúp nàng chống nóng -  BlogAnChoi" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 450px; height: 300px; margin: 8.61923Apx 0px;">

<p>Giới thiệu sơ về các loại vải mùa hè</p>
<p>
    Vải cotton: là chất liệu phổ biến nhất, dễ tìm mua và có giá thành vừa phải. Các mẫu quần áo hè làm từ vải cotton có khả năng thấm hút mồ hôi tốt, vải mỏng và thông thoáng cho cảm giác dễ chịu.
<p>
    Vải rayon (lụa nhân tạo): Được tổng hợp từ một số loại sợi tổng hợp và cotton, rayon là chất liệu vải lụa nhân tạo, bóng đẹp, mềm mịn và mát lạnh khi mặc nhưng có mức giá rẻ hơn so với lụa tự nhiên. Loại chất liệu vải mùa hè này cũng khá mỏng nhẹ, thoáng khí và không bám dính.

</p>
<p>
    Vải lanh (vải đũi): Vải lanh hay vải đũi là một chất liệu vải mùa hè đặc trưng với các thiết kế quần áo rộng, suông và thoáng mát. Vải lanh (vải đũi) rất mỏng, nhẹ và xốp, thấm hút mồ hôi tốt và không bám dính vào cơ thể. Bên cạnh đó vải đũi rất mềm mại, không thô ráp, giặt nhanh khô.
</p>

<p>
    Vải voan: Nhắc tới mùa hè không thể không nhắc tới những chiếc áo voan, váy voan nhẹ nhàng, bồng bềnh và cực kỳ mát mẻ. Vải voan mềm mại và rất mát, tạo sự nữ tính dịu dàng cho bạn dù là mẫu quần áo công sở hay quần áo đi chơi.
</p>
        Nguồn : https://bloganchoi.com/mau-vay-ao-he-thoi-trang-he-2020-dep-chuan-trend/


<br />
<br />

Mẫu áo 2 dây "Để đi chơi, đi dạo phố hay mặc ở nhà thì các mẫu áo 2 dây luôn là items tuyệt vời nhất bạn cần có." <p><button type="button" class="btn btn-primary"> 36$ - 42$</button> </p>


<img src="https://cf.shopee.vn/file/239913619c4b613bad21437d7c7c8665" alt="Deal khủng giá sốc ] Áo hai dây trơn đơn giản cực rẻ [ Kho sỉ giá xưởng ] |  Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/f48996d58e36f82d212ae41a6d0612e2" alt="Áo Sweater không tay màu xanh bơ thanh lịch dành cho nữ | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://product.hstatic.net/1000247297/product/1000-2_fecde1e5e40c4ba9b942e8ab4bff4a82_large.jpg" alt="Áo 2 dây – AIR SPACE" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/8d142b48b6d5139deace463ac55450c1" alt="Áo 2 dây trơn (nhiều màu) - MIN Boutiques - Ảnh thật - Áo Hai Dây Trơn -  Hàng Hot nhất mùa hè 2019 | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/143eb31995c9b745a4922fb9f7ec297e" alt="Áo Hai Dây Trơn | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/328d69c70b92d4831288b40c8f390129" alt="Áo hai dây họa tiết hoa thời trang mùa hè quyến rũ cho nữ | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">

<br />
<br />

Mẫu áo Blouse thời trang, rộng và đẹp <p><button type="button" class="btn btn-primary"> 40$ - 45$</button> </p>

<img src="https://luvinus.com/wp-content/uploads/2021/07/ao-blouse-1.jpg" alt="Áo Blouse Bác Sĩ Và Áo Blouse Thời Trang Nữ Có Gì Khác Nhau?" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 576px; margin: 0px;">
<img src="https://cuahangthoitrang.vn/resources/2020/03/20/ao-blouse%20(7).jpg" alt="Áo blouse là gì? 5 kiểu áo blouse xinh lung linh cho chị em" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 576px; margin: 0px;">
<img src="https://cf.shopee.vn/file/df3daf57fd2b3d1ef471a285a606f475" alt="ÁO GHILE CARO - ÁO BLOUSE TAY PHỒNG - ảnh thật | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://kenh14cdn.com/thumb_w/660/2020/3/15/photo-4-1584261264541357887681.jpg" alt="Đáng sắm nhất lúc này là áo blouse tay bồng, diện thế nào cũng ra được vẻ  &amp;quot;chanh sả&amp;quot; kiêu kỳ" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://thoitrangnhanh.com/shopping/data/upload/admin/images/30.3.2020/aoblousetaydai1.jpg" alt="BLOG | Điệu đà với áo blouse tay dài" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">

<br />
<br />
Mẫu áo sơ mi oversize, dáng dài <p><button type="button" class="btn btn-primary"> 14$ - 25$</button> </p>

<img src="https://cf.shopee.vn/file/84cb712983f2db9bfdfbd6779be43caf" alt="Áo Sơ Mi Trắng Dài Tay Dáng Rộng giá cạnh tranh" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/5daf35c5825705ba0a7bc7106b580fd7" alt="Giảm giá Sơmi trắng oversize - BeeCost" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/4ce4ca9e4f3cce95f0f53ea10d6853db" alt="Áo sơ mi sơmi xuyên thấu hoạ tiết cool độc lạ oversize form rộng dáng dài  tay dài | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/95569924d5d47ef052299cfcfb0dbe0b" alt="Áo sơ mi nữ nhũ bạc xuyên thấu sexy quyến rũ tay phồng cá tính | Shopee  Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/f307bdffc4abb1e9547722885f1df06c" alt="Tổng hợp Cách Phối Áo Sơ Mi Oversize Nam giá rẻ, bán chạy tháng 2/2022 -  BeeCost" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/a67e01f8c02212c7942a8a4f0cde6123" alt="Áo Sơ Mi Nữ Form Rộng Màu Đen Theo Phong Cách Retro | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">

<br />
<br />
Mẫu váy hoa nhí nhảnh cho mùa hè tươi mát <p><button type="button" class="btn btn-primary"> 26$ - 30.5$</button> </p>

<img src="https://loza.vn/uploads/media/13032020/1584100748_Dam-lien-voan-hoa-tiet-1.jpg" alt="Xinh xắn với mẫu đầm voan họa tiết đẹp hè 2020 - Thời Trang LOZA" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 537.6px; margin: 0px;">
<img src="https://loza.vn/uploads/media/11022020/1581412308_Dam-hoa-tiet-hoa-2020-1.jpg" alt="10 mẫu đầm họa tiết hoa đẹp và bắt mắt dành cho nàng thơ diện hè 2020 -  Thời Trang LOZA" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 537.6px; margin: 0px;">
<img src="https://thoitrang.biz/wp-content/uploads/2018/06/LD819-Dam-voan-dieu-co-khoet-V-2.jpg" alt="LD819 Đầm voan điệu cổ khoét V - Thời trang Biz" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 537.6px; margin: 0px;">
<img src="https://vn-test-11.slatic.net/p/af9098639c51ea6e1aa191973e79b0d3.jpg" alt="Nơi bán Váy đầm nữ hoa tay rút DA656 GUMAC" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 576px; margin: 0px;">
<img src="https://image.thanhnien.vn/1024x1536/Uploaded/2022/jatmvz/2021_07_19/vayhoamuahe/baciami3_nayx.jpeg" alt="Refresh mùa hè với những chiếc đầm hoa nhí tươi vui" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 576px; margin: 0px;">
<img src="https://thoitrang.biz/wp-content/uploads/2018/03/vay-xoe-dep-7.jpg" alt="1001 kiểu đầm xòe họa tiết dễ thương cũng nàng tươi trẻ mỗi ngày" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 576px; margin: 0px;">


<br />
<br />
Quần vải ống suông, ống rộng <p><button type="button" class="btn btn-primary"> 38$ - 40$</button> </p>

<img src="https://cf.shopee.vn/file/351a0ee6ffe924a3ea95531758748c34" alt="Quần suông nữ ống rộng - Lưng cao - Vải tuyết mưa đẹp mềm mịn - 2 màu ĐEN  TÍM | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/e7317fac53e5bae9048e69a6c3c29e3a" alt="Quần tây ống rộng nữ dài 100cm đi học công sở - Cạp lưng cao ngang rốn -  Màu Đen Tím - Dáng ống suông rộng - Vải dày dặn | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/a179c5f928d95eab5c5204abcb62a115" alt="QUẦN ĐEN ỐNG RỘNG DÀI 100CM (ảnh thật/sẵn) | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://salt.tikicdn.com/cache/400x400/ts/product/6a/26/13/3f92829deafc93374089c35f819b7bb8.jpg" alt="Quần Ống Rộng Cạp Liền Phối Khóa Giữa Mẫu Mới - 22 | GiayLeSang | Tiki" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/6d1b5c5995d4f1427511c0d872d7860e" alt="Quần tây ống rộng nữ lưng cao màu nâu tây - chất vải MANGGO cao cấp - lên  dáng ống suông mềm - MIX đồ cực đẹp | Nông Trại Vui Vẻ - Shop" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/5cfba171e162b77934043c01c991fa48" alt="CÓ SẴN, ẢNH THẬT] Quần Âu Cạp Cao Ống Rộng Suông Dài [FREESHIP] Màu Nâu Tây  Phong Cách Hàn Quốc giá cạnh tranh" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">

<br />
<br />
Quần short - mùa hè đẹp cho sự tinh tế <p><button type="button" class="btn btn-primary"> 42.2$ - 45.5$</button> </p>

<img src="https://thoitrangteenthienphuc.vn/upload/images/qu%E1%BA%A7n%20short/kieu-quan-short-cho-nu-dep-16.jpg" alt="18 Kiểu Quần Short Nữ Khiến Phái Đẹp Phải “Ngây Ngất”" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/dc5d6e776ed52446c44aed3b00331a9d" alt="Giảm giá Quần sooc da dành cho nữ - BeeCost" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://toplist.vn/images/800px/-705240.jpg" alt="Top 7 Shop bán quần short nữ đẹp nhất Hải Phòng - Toplist.vn" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://toplist.vn/images/800px/gumac-704729.jpg" alt="Top 10 Shop bán quần short nữ đẹp nhất TP. Vinh, Nghệ An - Toplist.vn" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/da4dd47454a72cb33d4a9c7379a2f9f0" alt="Quần Short Nữ Lưng Cao Ống Rộng Có Túi | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://prices.vn/storage/photo/product/quan-short-nu-cap-cao-phien-ban-han-quoc-quan-dui-ong-rong-1626261532713.png" alt="So Sánh Giá Quần Short Nữ Cạp Cao Phiên Bản Hàn Quốc, Quần đũi ống Rộng  tháng 2/2022 | Prices.vn" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">