@{
    ViewData["Title"] = "Autumn clothes";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />
<p>Xu hướng trang phục mùa thu nhất định phải mua để style tiến bộ hơn hẳn năm ngoái. Shop cảm ơn các bạn đã ủng hộ    </p>

<img src="http://gdtx-dinhxuyen.edu.vn/wp-content/uploads/2021/03/1.jpg" alt="6 nguyên tắc cho thời trang mùa đông bạn cần thuộc lòng - Chợ Định Xuyên" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 276.48px; margin: 0px;">

<br />
<br />
<p>Vậy là một mùa thu nữa lại sắp đến, và mang tới cho chị em cơ hội để đổi gió cho phong cách. Thời tiết mùa thu mát mẻ, đôi khi còn se lạnh sẽ là "đất diễn" hoàn hảo cho những items dài tay và dày dặn hơn một chút, nhưng không quá ngốt ngát. Để biết được các món đồ thời trang đáng sắm cho mùa thu thì trước hết, chị em cần cập nhật những xu hướng khả năng cao sẽ "làm mưa làm gió" trong thời gian tới. </p>
<p></p>
<p> Len mỏng: Những mẫu áo khoác len mỏng hay thậm chí là váy len cho những ngày se lạnh. Còn gì thú vị hơn khi các quý cô diện lên mình những trang phục ấm áp và tận hưởng từng cơn gió lạnh đầu mùa</p>
<p></p>
<p> Nhung sọc: những người lớn tuổi và sẽ khiến bạn già đi không ít nhưng hãy thử nghiệm chất liệu này trong mùa thu năm nay nhé vì kiểu dáng trang phục bằng nhung đang được sáng tạo không ngừng với những mẫu quần yếm, váy ngắn,chúng khiến bạn trở nên ngọt ngào và cổ điển hơn</p>
<p></p>
<p> Vải tweed: Vải tweed thường được chọn để may áo khoác tạo cảm giác thanh lịch, quý phái gợi nhớ đến giới quý tộc xưa và dường như chưa bao giờ bị lỗi mốt. Bản thân chất liệu tweed có phần cứng cáp nhưng khi mặc lên lại đem đến sự duyên dáng cho người mặc</p>
<p></p>
<p> Nhung mịn: Khi nhắc đến vải nhung chúng ta thường nghĩ đến sự sang trọng và quý phái nhưng chỉ với chút khéo léo trong cách phối đồ là bạn sẽ trở nên mới lạ và phong cách hơn.</p>
<p></p>
<p> Satin: Chất liệu satin có phần hơi dày, mềm mại mà với độ bóng nhất định sẽ giúp các quý cô tôn lên những đường cong hoàn hảo mà không cần tới kiểu dáng quá cầu kì.</p>



<br />
<br />

Mẫu áo len tăm dài tay nữ siêu chất <p><button type="button" class="btn btn-primary"> 85.5$ - 90.5$ </button> </p>

<img src="https://winmart.onl/assets/media/images/009/%C3%81o%20len%20t%C4%83m%20c%E1%BB%95%20l%E1%BB%8D%20si%C3%AAu%20%E1%BA%A5m.jpg" alt="Áo len tăm cổ lọ siêu ấm | WinMart" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://media3.scdn.vn/img3/2019/10_12/Ya5rka_simg_de2fe0_500x500_maxb.jpg" alt="Áo len tăm dài tay nữ siêu chất - Áo len tăm dài tay" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://mcdn.nhanh.vn/store/3379/ps/20210924/zLEK324__1_.jpg" alt="Áo len tăm nữ cao cấp ôm body cổ tim màu trơn kiểu Hàn Quốc LEK324 (" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://laromashop.com/wp-content/uploads/2018/11/6e5922cb659a72bae6e73da046307e00-600x600.jpg" alt="Áo Len Tăm Laroma 2018 – Laroma Shop" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">

<br />
<br />
Đồ thời trang váy yếm dịu dàng chào thu lãng mạn <p><button type="button" class="btn btn-primary"> 60$ - 75$ </button> </p>

<img src="https://minhlacongai.com/wp-content/uploads/2018/06/c%C3%A1ch-ph%E1%BB%91i-%C4%91%E1%BB%93-v%E1%BB%9Bi-v%C3%A1y-y%E1%BA%BFm-4.jpg" alt="8 cách phối đồ với váy yếm cực đáng yêu và xinh đẹp - Thời Trang Việt |  Thoitrangviet247" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 576px; margin: 0px;">
<img src="https://xuongmaysi.com/wp-content/uploads/2021/10/3-2-dam-yem-phoi-cung-ao-thun-phong-cach-dac-trung-va-co-ban-nhat-khi.jpg" alt="12 Cách phối đồ cùng với váy yếm cá tính" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 576px; margin: 0px;">
<img src="https://cf.shopee.vn/file/c53a1db649581b28d3e3b3609cefcc17" alt="SET VÁY YẾM NHUNG SIÊU XINHHHH ( Hàng loại 1)🌸🌸🌸🌸 | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/089bd90905a7d49a05e3649a3441b4db" alt="Sét yếm dài tay cực xinh ( Yếm rời + có ảnh thật) | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">

<br />
<br />
Áo nỉ kết hợp với chân váy đón thu về <p><button type="button" class="btn btn-primary"> 55.4$ - 80$ </button> </p>

<img src="https://cdn.vuahanghieu.com/unsafe/0x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/news/content/2020/10/phoi-do-voi-ao-ni-2-jpg-1602148599-08102020161639.jpg" alt="10+ cách phối đồ với áo nỉ cực chất chuẩn fashionista" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://hoclamdepvn.com/wp-content/uploads/2018/12/ao-ni-va-chan-vay-da.jpg" alt="Chất lừ&amp;quot; với cách phối áo nỉ với chân váy chuẩn gái Hàn!" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 388.189px; margin: 0px;">
<img src="https://kenh14cdn.com/2019/10/25/feelings268826891165680501268306342591426373580691n-15720149762721659967459.jpg" alt="Trời se lạnh &amp;quot;quẩy&amp;quot; áo nỉ là xịn nhất, và bạn sẽ diện đẹp không kém  fashionista với 6 công thức sau" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/9d3ad576af58d0cdf3c99c88e5560fd2" alt="Tổng hợp Chân Váy Nỉ giá rẻ, bán chạy tháng 1/2022 - BeeCost" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/5da6765526acec7c1b568311df2c8f9c" alt="Tổng hợp Chân Váy Nỉ giá rẻ, bán chạy tháng 1/2022 - BeeCost" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/e87b1f6eacdcf522231698902ab35943" alt="Tổng hợp Chân Váy Nỉ giá rẻ, bán chạy tháng 1/2022 - BeeCost" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">

<br />
<br />
Áo khoác cardigan len sợi <p><button type="button" class="btn btn-primary"> 45.4$ - 60.8$ </button> </p>

<img src="https://vn-test-11.slatic.net/shop/5eb38e4088d4b8eb6c7d7cedfa5e3128.jpeg" alt="Áo Cardigan Nữ Tay Dài Cúc Đồng- Áo Khoác Nữ Sợi Len Pha Nhũ 2 Màu Nổi Bật  Sang Chảnh - Áo cardigan nữ | ThờiTrangNữ.vn" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/9b528dc5918ab1e35e396bf765dca1a7" alt="ÁO KHOÁC LEN CARDIGAN KẺ CARO HOT HIT | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/6fb442b65c5e53ff08eb767eaa840584" alt="Áo cardigan len kẻ | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://vn-live-01.slatic.net/p/00d3996c7654f0302a3e940f3648da7b.jpg" alt="Áo khoác Hàn Quốc / áo cardigan kẻ ô nhỏ, sản phẩm có kiểu dáng đơn giản,  trẻ trung, thiết kế thoải mái, dễ mặc, dễ kết hợp với nhiều trang phục" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/c54db5883aed250fb97cf35d79fa691c" alt="Áo khoác len cardigan lông thỏ siêu mềm mịn màu hồng dễ thương (hàng có sẵn  - hình thật) | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/d86f1fbdedb9e06b90669201a1f796d7" alt="Áo Khoác Sweater Phối Nhung Dày Dáng Rộng Kiểu Hàn Quốc Cá Tính - Áo thun -  Áo khoác nỉ nữ | ePrice.vn" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">

<br />
<br />
Váy hoa điệu đà đón thu lãng mạn <p><button type="button" class="btn btn-primary"> 25.4$ - 35.2$ </button> </p>

<img src="https://vcdn-ngoisao.vnecdn.net/2018/09/01/b4217bc22afc2939b58b4b42d2beb2-6968-2005-1535787822.jpg" alt="Những kiểu váy hoa khiến nàng công sở lãng mạn trong mùa thu - Ngôi sao" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 576px; margin: 0px;">
<img src="https://vcdn-ngoisao.vnecdn.net/2019/03/01/vayhoa-8-1275-1551405882.jpg" alt="Những mẫu váy hoa cho mùa nắng tháng 3 - Ngôi sao" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 576px; margin: 0px;">
<img src="https://vn-live-05.slatic.net/p/1a644329e9cffc1ce4c96f93d85a191f.jpg_720x720q80.jpg_.webp" alt="Tubaby ] " jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/4b2f10580574fc291751fa624bf206f0" alt="Giảm giá Váy ôm body 2 dây hoa nhí - BeeCost" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">

<br />
<br />
Mix áo phông và áo Blazer vừa đẹp, vừa chất <p><button type="button" class="btn btn-primary"> 22.2$ - 36.3$ </button> </p>

<img src="https://cf.shopee.vn/file/8d7efb322f59704d95eeae536fa48ac5" alt="Bộ áo blazer và chân váy xẻ phong cách Hàn Quốc | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://i.bloganchoi.com/bloganchoi.com/wp-content/uploads/2021/11/cong-thuc-1-1-16016323971451910046760-1601700814563-16017008147831379796059.jpg?fit=660%2C20000&amp;quality=95&amp;ssl=1" alt="Có thể bạn chưa biết? 6 tip phối đồ với áo blazer cực đỉnh - vừa xinh lại  còn thu hút - BlogAnChoi" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://cf.shopee.vn/file/52a8085798b49174f4dd9607587d0990" alt="Áo khoác vest blazer nữ phong cách hàn quốc 2 túi dán chất cao cấp- Áo  Blazer màu đen, blazer nữ tay dài trơn cho nữ | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 384px; margin: 0px;">
<img src="https://i.vietgiaitri.com/2021/10/22/hoc-sao-han-13-cach-mix-blazer-vua-chat-vua-thanh-lich-dien-dep-tu-cong-so-ra-pho-4d7-6111448.jpg" alt="Học sao Hàn 13 cách mix blazer vừa chất vừa thanh lịch, diện đẹp từ công sở  ra phố - Phong cách sao - Việt Giải Trí" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 440.32px; margin: 0px;">
<img src="https://www.bdresearch.org/wp-content/uploads/2019/10/blazer-la-gi-19.jpg" alt="Blazer là gì? 20 cách phối đồ với Balzer nam nữ mới nhất Thu Đông 2020 | BD  Research - Khoa học và đời sống" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 480px; margin: 0px;">
<img src="https://media.phunutoday.vn/files/content/2020/10/06/mix-blazer-cho-dep-1-1017.jpg" alt="5 công thức mặc blazer vừa đẹp vừa chất, đảm bảo nổi bật mọi nơi - Báo Giáo  dục và Thời đại Online" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 478.255px; margin: 0px;">

