
@{
    ViewData["Title"] = "Spring fashion";
}
<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/site.css" />

<img src="https://jff.com.vn/wp-content/uploads/2021/01/xu-huong-thoi-trang-han-quoc-nu-hot-nhat-theo-mua-thoi-trang-nu.jpg" alt="Xu hướng thời trang Hàn Quốc nữ hot nhất theo mùa" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 525px; height: 262.5px; margin: 5.7px 0px;">


<p> Vải Ren: Sang trọng, quyến rũ mà vẫn trẻ trung, nữ tính, chất liệu ren được coi là “bảo bối” của chị em phụ nữ. Nó không chỉ phù hợp với thời tiết mùa hè mà bạn có thể sử dụng suốt cả bốn mùa trong năm.</p>
<p> Vải Voan: Voan là một chất liệu kinh điển để may váy mùa xuân. Voan vừa mềm mại, bay bổng lại có rất nhiều mẫu mã, hoa văn nên chất liệu này dường như được tạo nên để “được may váy”.</p>
<p> Vải đũi bông lập thể: Đây là loại vải được dệt từ nhộng tắm nên khá đắt tiền, bề mặt vải được dệt mịn nhìn sẽ trông giống như lụa satin. Thiết kế trang phục của loại vải này là những mẫu đơn giản với những màu mát mắt giúp tạo nên vẻ ngoài dịu dàng, mộc mạc nhưng rất thanh lịch cho các quý cô sành mốt. </p>
<p>
    Vải rũ: Ưu điểm của chất liệu vải rũ nhẹ là sự rộng rãi, thoáng mát với vẻ đẹp nhẹ nhàng tung bay của lớp vải sẽ mang đến cho quý cô những mẫu đầm, váy vô cùng nữ tính và quỹ rũ để diện trong những ngày xuân về.
</p>



<br />
<br />

Váy liền dáng ngắn <p><button type="button" class="btn btn-primary"> 22.5$ - 32.5$ </button> </p>

<img src="https://i.ytimg.com/vi/yr8BoMLVGFY/maxresdefault.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Đầm Đẹp Nhất 2020 dự tiệc cao cấp thời trang- Những mẫu đầm đẹp dập lý xu  hướng thời trang 2021 | Thông tin về các mẫu thời trang cao cấp nhất -" data-noaft="1" style="width: 525px; height: 295.312px; margin: 0px;">
<img src="https://chuyensituixach.com/wp-content/uploads/2020/12/96.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Top 10 Xưởng Chuyên Sỉ Đầm, Váy Thời Trang Tốt Nhất TPHCM - Quần áo sỉ lẻ" data-noaft="1" style="width: 525px; height: 295.312px; margin: 0px;">

<br />
<br />

Áo trễ vai <p><button type="button" class="btn btn-primary"> 28.5$ - 42.5$ </button> </p>

<img src="https://doanhnhanplus.vn/wp-content/uploads/2016/03/DN648_Khuynhhuong180316_Ao-tre-vai.jpg" alt="Xu hướng áo trễ vai gợi cảm mùa xuân" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 256px; margin: 0px;">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeDwAB8uzXwUQxHh9tI0V0SxqaITTiqqatlE0NFe9blrL1ACZiBxLIZlnfVSrj6dndqdM&amp;usqp=CAU" alt="Người có bờ vai rộng có nên mặc áo trễ vai hay không?" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 279.273px; margin: 0px;">

<br />
<br />

Chân váy ren <p><button type="button" class="btn btn-primary"> 21.5$ - 22.4$</button> </p>

<img src="https://thoitranghaianh.com/wp-content/uploads/2018/03/cach-mix-do-voi-chan-vay-ren.jpg" alt="5 Cách mix đồ với chân váy ren cực nữ tính và hiện đại" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 224px; margin: 0px;">
<img src="https://vietnamleather.com/wp-content/uploads/2020/06/vay-dai-9.jpg" alt="Váy dài có những mẫu HOT nào hiện nay và phối chân váy dài ra sao?" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 230.4px; margin: 0px;">

<br />
<br />

Áo dài cách tân <p><button type="button" class="btn btn-primary"> 58.9$ - 72.6$</button> </p>

<img src="https://thejulius.cdn.vccloud.vn/wp-content/uploads/2021/01/ao-dai-cach-tan-nu-hien-dai3.jpg" alt="Những mẫu áo dài cách tân nữ hiện đại gây sốt mùa xuân này - Đồng hồ Hàn  Quốc Julius chính hãng tại Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 324.48px; margin: 0px;">
<img src="https://image-us.24h.com.vn/upload/1-2019/images/2019-02-04/1549252783-642-gan-tet-ao-dai-cach-tan-mac-voi-vay-dup-lai-no-ro-thanh-trao-luu-1486026051-ao-dai-vay-dup-1-1548126152-width500height423.jpg" alt="Áo dài lai váy đụp: Có nên gọi là áo dài?-Thời trang" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 324.864px; margin: 0px;">

<br />
<br />

Đồ pastel mùa xuân <p><button type="button" class="btn btn-primary"> 68.9$ - 80.6$ </button> </p>


<img src="http://data.voh.com.vn/voh/image/2020/03/16/image011_20200316172832.jpg" alt="6 nguyên tắc giúp bạn mặc đẹp với tông màu pastel" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 198.479px; margin: 9.81049px 0px;">
<img src="http://data.voh.com.vn/voh/image/2020/03/16/image005_20200316172752.jpg" alt="6 nguyên tắc giúp bạn mặc đẹp với tông màu pastel" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 200.96px; margin: 8.57px 0px;">

<br />
<br />

Set phong cách mùa xuân <p><button type="button" class="btn btn-primary">  48.9$ - 65.6$ </button> </p>

<img src="https://luvinus.com/wp-content/uploads/2020/02/cach-phoi-ao-hoodie.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Chia sẻ&quot; 15+ Cách Phối Áo Hoodie Nữ Siêu Xinh Và Dễ Măc - Đào tạo thiết kế  thời trang" data-noaft="1" style="width: 525px; height: 315px; margin: 0px;">
<img src="https://luvinus.com/wp-content/uploads/2019/10/cach-phoi-do-han-quoc.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Bỏ Túi&quot; 20+ Cách Phối Đồ Hàn Quốc Cực Xinh Cho Các Nàng - Đào tạo thiết kế  thời trang" data-noaft="1" style="width: 525px; height: 315px; margin: 0px;">