@{
    ViewData["Title"] = "New Item";
}
<h1>@ViewData["Title"]</h1>

<p><button type="button" class="btn btn-primary">Quần Jens 4.5$đ - 15.5$đ </button> </p>

<img src="https://salt.tikicdn.com/ts/tmp/07/de/f1/82d388ff67a11049569e6c86ee1e1b06.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Quần jean nữ lưng cao Julido, chất jean cotton co dãn NHẸ FORM BAGGY tôn  dáng phụ nữ eo thon mẫu QQS15 | Tiki" data-noaft="1" style="width: 525px; height: 525px; margin: 0px;">
<img src="https://cf.shopee.vn/file/2e6370815cdc268d7145056d6ba0ca3b" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="quần jean nữ cao cấp lưng cao hàng hiệu chuẩn shop siêu hót phong cách hàn  quốc thời trang shally FÁSHION n116 | Shopee Việt Nam" data-noaft="1" style="width: 525px; height: 525px; margin: 0px;">

<br /> <br />
<p><button type="button" class="btn btn-primary">Áo Khoác Lông 50$.5$ - 71.2$ </button> </p>

<img src="https://cf.shopee.vn/file/6e568ef2458518f293a6717d5e2cf341" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Áo khoác lông cừu dày dáng rộng ngắn kiểu Hàn Quốc thời trang mùa đông 2020  cho nữ | Shopee Việt Nam" data-noaft="1" style="width: 525px; height: 525px; margin: 0px;">
<img src="https://cf.shopee.vn/file/09ddcc1475d2f154b22830fe26b5d07a" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="❤️❤️❤️ Áo khoác lông cừu cổ cao | Shopee Việt Nam" data-noaft="1" style="width: 525px; height: 525px; margin: 0px;">

<br /> <br />
<p><button type="button" class="btn btn-primary">Set Đồ Nữ 2022 phong cách 25$ - 28.8$  </button> </p>

<img src="https://jinna.vn/cdn/upload/images/20-cach-phoi-do-nu-di-hoc5(1).jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="20+ cách phối đồ nữ đi học trong mùa tân sinh viên" data-noaft="1" style="width: 525px; height: 700px; margin: 0px;">
<img src="https://jinna.vn/cdn/upload/images/20-cach-phoi-do-nu-di-hoc18(1).jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="20+ cách phối đồ nữ đi học trong mùa tân sinh viên" data-noaft="1" style="width: 525px; height: 700px; margin: 0px;">

<br /> <br />
<p><button type="button" class="btn btn-primary">Áo Dài Cách Tân Nữ 42$ - 50$  </button> </p>

<img src="https://img2.thuthuatphanmem.vn/uploads/2018/12/07/ao-dai-cach-tan-ket-hop-chan-vay_105339226.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Áo Dài cách tân đẹp - Những mẫu áo dài cách tân hiện đại, trẻ trung đẹp  nhất 2022" data-noaft="1" style="width: 492.667px; height: 739px; margin: 0px;">
<img src="https://cdnmedia.thethaovanhoa.vn/2017/02/02/15/20/ao-dai-cach-tan-2017-1.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Mặc áo dài cách tân với 'váy đụp' có gì mà đáng lên án? (*) | TTVH Online" data-noaft="1" style="width: 492.667px; height: 739px; margin: 0px;">

<br /> <br />
<p><button type="button" class="btn btn-primary">Đồ Thời Trang Nữ Cá Tính 33.3$ - 36.8$  </button> </p>


<img src="https://file.hstatic.net/1000197303/file/den_toan_tap_f55608d89e1c4dbeafedc049eec2fcb1.jpeg" alt="10 cách phối đồ không thể bỏ qua cho nàng cá tính sành điệu" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 383px; height: 383px; margin: 0px;">
<img src="https://cf.shopee.vn/file/7e70b819410126c26217072478652ab6" alt="Lịch sử giá Set đồ thời trang mùa hè năng động cá tính cho nữ cập nhật  2/2022 - BeeCost" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 383px; height: 383px; margin: 0px;">

<br /> <br />
<p><button type="button" class="btn btn-primary">Set Đồ công sở chính hiệu 80.8$ - 90.5$ </button> </p>


<img src="https://thoitrangeva.vn/wp-content/uploads/2021/10/ao-so-mi-tay-lo-hoa-vang-700x980.jpg" alt="10+ Mẫu áo sơ mi cổ đức tay lỡ đẹp nhất cho cô nàng công sở » Thời trang Eva" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 537.6px; margin: 0px;">
<img src="https://loza.vn/uploads/media/12082020/1597241815_set-do-cong-so-1.jpg" alt="Top những set đồ công sở siêu thanh lịch chào thu 2020 - Thời Trang LOZA" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 384px; height: 537.6px; margin: 0px;">

<br /> <br />
<p><button type="button" class="btn btn-primary">Những Bộ Váy Set Đồ Siêu Xinh Cho Các Bạn Nữ 25$ - 35$  </button> </p>

<img src="https://danviet.mediacdn.vn/2021/1/27/mix-do-16117399664191996333833.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Clip: Hướng dẫn cách mix đồ cực cute cho những ngày &quot;không có gì để mặc&quot;" data-noaft="1" style="width: 525px; height: 393.75px; margin: 0px;">
<img src="https://www.acfc.com.vn/acfc_wp/wp-content/uploads/2021/09/phoi-do-voi-quan-ong-rong-3.png" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Tất tần tật&quot; bí kíp phối đồ với quần ống rộng đỉnh hết nấc | ACFC Blog" data-noaft="1" style="width: 525px; height: 393.75px; margin: 0px;">

<br /> <br />

